/*/nbproject/private/
/*/build/
/release/
/dist/
*/dist/
*/lib/
*.jar
/test-server/
lib/
/JarProcessor/*
/obfuscation/
# Idea
*.iml
*.ipr
*.iws
*.path

.idea/
/AsyncWorldEdit-ActionBarAPI/AsyncWorldEdit-ActionBarAPI/nbproject/private/
/AsyncWorldEdit/src/*.jar
/AsyncWorldEdit-API/target/
/AsyncWorldEditInjector/target/
/AsyncWorldEdit-APIInner/target/
/AsyncWorldEdit-PlotMe013g/target/
/AsyncWorldEdit-PlotMeCore016/target/
/AsyncWorldEdit-WelcomeTitle/target/
/AsyncWorldEdit-TitleManager/target/
/AsyncWorldEdit-BountifulAPI/target/
/AsyncWorldEdit-ActionBarAPI/target/
/AsyncWorldEdit-ActionMessager/target/
/AsyncWorldEdit-BarAPI/target/
/AsyncWorldEdit-Utils/target/
/AsyncWorldEdit-DirectChunk/target/
/AsyncWorldEdit/target/
/AsyncWorldEdit-BlocksHub_v1x/target/
/AsyncWorldEdit-BlocksHub_v2x/target/
/AsyncWorldEdit-PlotMeCore015/target/
/AsyncWorldEdit-spigot_v1_12_R1/target/
/AsyncWorldEdit-spigot_v1_10_R1/target/
/AsyncWorldEdit-spigot_v1_11_R1/target/
/AsyncWorldEdit-spigot_v1_9_R1/target/
/AsyncWorldEdit-spigot_v1_9_R2/target/
/AsyncWorldEdit-spigot_v1_8_R3/target/
/AsyncWorldEdit-spigot_v1_12_R1_12_1/target/
/AsyncWorldEdit-Deploy/target/