/*/nbproject/private/
/*/build/
/release/
/release.free/
/dist/
*/dist/
*/lib/
*.jar
/test-server/
lib/
/JarProcessor/*
/obfuscation/
# Idea
*.iml
*.ipr
*.iws
*.patch

.idea/
/AsyncWorldEdit-ActionBarAPI/AsyncWorldEdit-ActionBarAPI/nbproject/private/
/AsyncWorldEdit/src/*.jar
/*/target/
